﻿@model OnlineHouse.App_Data.House
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-5 shadow-lg p-3 mb-5 bg-white rounded" style="margin: auto; background:white; padding: 50px;">
    
    <div class="col-md-12" id="popup-form">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <a href="javascript:void(0);" style="float:right" onclick="history.go(-1);"><i class="fas fa-minus"></i></a>
                <h3 class="panel-title">Add New</h3>
            </div>
            <hr />
            <div class="panel-body">
                <div class="form-group col-md-12">

                    <label>House Name</label>
                    <input type="text" name="HouseName" id="HouseName" class="form-control" required="" />

                </div>
                <div class="form-group col-md-12">
                    <label>House Address</label>
                    <input type="text" name="HouseAddress" id="HouseAddress" class="form-control" required="" />
                </div>
                

                <div class="form-group col-md-12">
                    <div>
                        <input class="btn btn-primary" name="submitButton" id="btnSave" value="Create" type="button">
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">

    $(function () {
        LoadData();
        $("#btnSave").click(function () {

            //alert("");
            var std = {};
            std.NameHouse = $("#HouseName").val();
            std.Address = $("#HouseAddress").val();
            std.Infor = $("#Infor").val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("createHouse")',
                data: '{std: ' + JSON.stringify(std) + '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                   alert("Data has been added successfully.");
                    LoadData();
                },
                error: function () {
                    alert("Error while inserting data");
                }
            });

            return false;
        });
    });

    function LoadData() {
        $("#tblHouse tbody tr").remove();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("getHouse")',
            dataType: 'json',
            data: { id: '' },
            success: function (data) {
                var items = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>"
                    + "<td class='prtoducttd'>" + item.ID + "</td>"
                    + "<td class='prtoducttd'>" + item.NameHouse + "</td>"
                        + "<td class='prtoducttd'>" + item.Address + "</td>"
                        + "<td class='prtoducttd'>" + item.Infor + "</td>"
                    + "</tr>";
                    $('#tblHouse tbody').append(rows);
                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
        return false;
    }
    $('#inputGroupFile').on('change', function () {
        // get fileName
        var fileName = $(this).val();
        // set fileName into label
        $(this).next(".custom-file-label").html(fileName);
    })
</script>