﻿
@{
    ViewBag.Title = "Boarding House";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
                
            };
    </script>
   
}
<style>
    #showInfor {
        position: absolute;
        top: 30px;
        right: 0;
        margin: 0 auto;
        z-index: 100;
        width: 500px;
    }

    #tuong {
        opacity: 1;
        animation: a 0.3s;
    }

    @@keyframes a {

        0% {
            right: 0px;
        }

        100% {
            right: -100px;
        }
    }

    #para {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        right: 0;
        z-index: 3;
    }

    #panorama {
        width: 100%;
        height: 100%;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 2; /* Sit on top */
        /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    button {
        border: none;
        background: none;
    }

    #effect-zoom {
        opacity: 1;
        animation: phongto 0.5s ease-in-out normal;
    }

    @@keyframes phongto {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }
</style>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Broading House Of Tường</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

<!-- Content Row -->
<div id="reloadView" class="row">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Index","Room", new {id = @item.HouseID})">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4" id="row_@item.ID">

                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@item.HouseName</div>
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">@item.Address</div>
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">@item.NumberOfRoom</div>
                                <a href="/House/Edit/@item.ID"><i class="far fa-edit"></i></a>
                            </div>

                            <div class="col-mr-2">

                                <i class="fas fa-home fa-2x text-gray-300"></i>
                            </div>
                            <div class="col-mr-8">

                                @Ajax.ActionLink("x", "Delete", "House", new { @id = item.ID }, new AjaxOptions
                                {
                                   Confirm = "Do You Want to Delete " + @item.Address,
                                   OnComplete = "$('#row_" + @item.ID + "').remove()",
                                   HttpMethod = "Delete",

                                })

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </a>
    }
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">

                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">ADD MORE</div>
                    </div>
                    <div class="col-mr-2">
                        <button id="openForm"><i class="fas fa-plus-circle fa-2x text-gray-300"></i></button>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- html popup Create House -->
<div id="myModal" class="modal" style="display: none;">
    <div id="effect-zoom" class="col-3 shadow-lg p-3 mb-5 bg-white rounded" style="margin: auto; background:white; top: 1%;z-index:4">

        <div class="col-md-12" id="popup-form">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <button style="float:right" id="closeForm"><i class="fas fa-minus"></i></button>
                    <h3 class="panel-title">Add New</h3>
                </div>
                <hr />
                <div class="panel-body">
                    <div class="form-group col-md-12">

                        <label>House Name</label>
                        <input type="text" name="HouseName" id="HouseName" class="form-control" required="" />

                    </div>
                    <div class="form-group col-md-12">

                        <label>House Owner</label>
                        <input type="text" name="HouseOwner" id="HouseOwner" class="form-control" required="" />

                    </div>
                    <div class="form-group col-md-12">
                        <label>House Address</label>
                        <input type="text" name="HouseAddress" id="HouseAddress" class="form-control" required="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label>Describe</label>
                        <input type="text" name="Describe" id="Describe" class="form-control" required="" />
                    </div>
                    <div class="form-group col-md-12">

                        <label>Phone</label>
                        <input type="text" name="Phone" id="Phone" class="form-control" required="" />

                    </div>
                    <div class="form-group col-md-12">
                        <label>Number Of Room</label>
                        <input type="text" name="NumberOfRoom" id="NumberOfRoom" class="form-control" required="" />
                    </div>
                    <div class="form-group col-md-12">

                        @*<form id="uploader">
                                <input id="fileInput" type="file" multiple>
                                <input type="submit" value="Upload file" />
                            </form>*@
                        <label>Upload Image</label>
                        <input type="file" name="file" id="fileImage" />


                    </div>
                    <div class="form-group col-md-12">
                        <div>
                            <input style="height:30px" class="btn btn-primary" name="submitButton" id="btnSave" value="Create" type="button">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="show" style="display:none">
        <a-scene id="para">
            <img id="panorama" alt="img" src="" />
            <a-sky src="#panorama" rotation="0 -90 0"></a-sky>
        </a-scene>
    </div>
</div>

<div id="showInfor" class="carousel-item active shadow-lg bg-white rounded">

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


@*show Detail Alert Form*@
<script>
    $(".blockAlert").click(function () {
       
        var id = $(this).attr("id");
        $("#showInfor").css("display", "block");
        $.ajax({
            type: "POST",
            url: "@Url.Action("Confirm","House")",
            data: { id: id },

            success: function (data) {
                $("#tuong").remove();
                var myvar =
                    '    <div id = "tuong" class="text-center">' +
                    '        <img class="img-profile w-75 img-thumbnail img-rounded" src="" />' +
                    '' +
                    '        <table class="table table-hover">' +
                    '            <tbody>' +
                    '                <tr>' +
                    '                    <th scope="row">Full Name</th>' +
                    '                    <td class="w-100">' + data.Fname + '</td>' +
                    '                    <th scope="row">Birth day</th>' +
                    '                    <td>'+data.DayOfBirth + '</td>' +
                '                </tr>' +
                '                <tr>' +
                '                    <th scope="row">Gender</th>' +
                '   <td>' + data.Sex + '</td>' +
                '                    <th scope="row">Phone</th>' +
                '                    <td>' + data.Phone + '</td>' +
                '' +
                '                </tr>' +
                '                <tr>' +
                '                <tr>' +
                '                    <th scope="row">Address</th>' +
                '                    <td>' + data.Address + '</td>' +
                '                    <th scope="row">Nation</th>' +
                '                    <td>' + data.Nation + '</td>' +
                '' +
                '                </tr>' +
                '                <tr>' +
                '                    <th scope="row">Carrer</th>' +
                '                    <td>' + data.Carrer + '</td>' +
                '                    <th scope="row">Religion</th>' +
                '                    <td>' + data.Religion + '</td>' +
                '                </tr>' +
                '            </tbody>' +
                    '        </table>' + '<span class="font-weight-bold">Would you like to let ' + data.Fname + ' live there ? </br></span>' +
                    '<a href="/House/Allow/'+data.UserID+'" style="height:30px"  id="' + data.ID + '"  class="btn btn-primary" type="button" ">Yes</a> &nbsp;' +
                    '<input style="height:30px" class="btn btn-warning" id="btnNo" onclick = "closeDetailInfor()" value="No" type="button"/>' +
                '    </div>';
                $("#showInfor").append(myvar);

        },
            error: function () {
                alert("Error. Can't sent request !!!");
            },
        });

    });

</script>

<!-- html popop Update House-->

<script type="text/javascript">

    $(function () {

        var fileName = "";
        $('input[type="file"]').change(function (e) {
            fileName = e.target.files[0].name;
        });

        $("#btnSave").click(function () {


            if (window.FormData !== undefined) {

                var fileUpload = $("#fileImage").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object


                $.ajax({
                    url: '/House/UploadFiles',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,

                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }

            var std = {};
            std.HouseName = $("#HouseName").val();
            std.HouseOwner = $("#HouseOwner").val();
            std.Address = $("#HouseAddress").val();
            std.Describe = $("#Describe").val();
            std.NumberOfRoom = $("#NumberOfRoom").val();
            std.Phone = $("#Phone").val();
            std.Image = fileName;

            $.ajax({
                type: "POST",
                url: '@Url.Action("createHouse")',
                data: '{std: ' + JSON.stringify(std) + '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                   alert("Data has been added successfully.");

                },
                error: function () {
                    alert("Error while inserting data");
                }
            });
            location.reload();

        });
    });

</script>

@* change 360 image with aframe *@
<script>
    const inpFile = document.getElementById("fileImage");
    const show = document.getElementById("show");
    const opacityImage = document.getElementById("effect-zoom");

    inpFile.addEventListener("change", function () {
        const file = this.files[0];
        if (file) {
            file.mozFullPath;
            const reader = new FileReader();

            show.style.display = "block";
            show.innerHTML = "";
            reader.addEventListener("load", function () {
                var p =
                    "<a-scene id='para' >" +
                    "<img id='panorama' alt='img' src='" + reader.result + "'/>" +
                    "<a-sky src='#panorama' rotation='0 -90 0'></a-sky>" +
                    "</a - scene >";
                show.innerHTML = p;
            });
            opacityImage.style.opacity = "0.9";
            reader.readAsDataURL(file);
        }
    });
</script>

@* show create form *@
<script>
    var modal = document.getElementById("myModal");
    var openForm = document.getElementById("openForm");
    var closeForm = document.getElementById("closeForm");
    var closeImage = document.getElementById("show");
    var btnNo = document.getElementById("btnNo");
    var showInfordd = document.getElementById("showInfor");
    var showInfordd = document.getElementById("showInfor");

    openForm.onclick = function () {
        modal.style.display = "block";
    }
    closeForm.onclick = function () {
        modal.style.display = "none";
        closeImage.style.display = "none";
    }


    function closeDetailInfor() {

        showInfordd.style.display = "none";
    }
    function showDetailInfor() {

        showInfordd.style.display = "block";
    }


</script>


@*Update and Save File by XML

    <script type="text/javascript">
        document.getElementById('uploader').onsubmit = function () {
            var formdata = new FormData(); //FormData object
            var fileInput = document.getElementById('fileInput');
            //Iterating through each files selected in fileInput
            for (i = 0; i < fileInput.files.length; i++) {
                //Appending each file to FormData object
                formdata.append(fileInput.files[i].name, fileInput.files[i]);
            }
            //Creating an XMLHttpRequest and sending
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/House/Upload');
            xhr.send(formdata);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    alert(xhr.responseText);
                }
            }
        }
    </script>*@