﻿    @{
    ViewBag.Title = "Login";
    Layout = null;
}

@model OnlineHouse.App_Data.Account

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, in itial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Custom fonts for this template-->
    <link href="~/Assets/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/Admin/css/sb-admin-2.min.css" rel="stylesheet">
    <!--My CSS-->
    <link href="~/Assets/My css/MyCss.css" rel="stylesheet" />

</head>

<body class="imageLogin">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0 ">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-white-50 mb-4">Welcome Back!</h1>
                                    </div>

                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })

                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.UserID , new { @class = "form-control form-control-user", @id = "exampleInputEmail", @placeholder = "Enter ID...", @autofocus = "autofocus" })
                                        </div>
                                        <div class="form-group">
                                            @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-user", @id = "exampleInputPassword", @placeholder = "Password" })

                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">

                                         @*    @Html.CheckBoxFor(model => model.RememberMe, new { @class = "custom-control-input", @id = "customCheck" } *@
                                                <label class="custom-control-label text-white" for="customCheck">Remember Me</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>



                                    }


                                    <hr>
                                    <div class="text-center">
                                        <a class="small text-white" href="forgot-password.html">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small text-white" href="@Url.Action("Register", "User")">Create an Account!</a>


                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    

</body>

</html>

