﻿
@{
    ViewBag.Title = "Register";
    Layout = null;
}
@model OnlineHouse.App_Data.Account
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    <!-- Custom fonts for this template-->
    <link href="~/Assets/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/Admin/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Core plugin JavaScript-->
    <script src="Assets/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="Assets/Admin/js/sb-admin-2.min.js"></script>
    <!--My CSS-->
    <link href="~/Assets/My css/MyCss.css" rel="stylesheet" />
    <!-- BOOTSTRAP 4-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>

<body class="imageLogin">

    @*<div class="container">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                </div>

                                @using (Html.BeginForm("Register", "User", FormMethod.Post, new {@class="was-validated"}))
                                {
                                    //@Html.ValidationSummary()
                                    @Html.AntiForgeryToken()

                                    <div class="card">

                                        <div class="card-body">

                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Name)
                                                @Html.TextBoxFor(m => m.Name, "", new { @class = "form-control", placeholder = "Your name*", required="required"})
                                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "badge badge-danger" })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(m => m.UserID)
                                                @Html.TextBoxFor(m => m.UserID, "", new { @class = "form-control", placeholder = "Enter userID*", required="required"})
                                                @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "badge badge-danger" })

                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Email)
                                                @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", placeholder = "Your mail*", required="required" })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge badge-danger" })

                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Password)
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter password*", required="required"})
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ConfirmPassword)
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password*", required="required"})
                                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "badge badge-danger" })
                                            </div>
                                            @if (ViewBag.error != null)
                                            {
                                                <span class="badge badge-danger">@ViewBag.error</span>
                                            }
                                            <div class="form-group">
                                                <input type="submit" name="submit" class="btn btn-primary" value="Register" />
                                            </div>
                                        </div>
                                    </div>

                                }


                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small">@Html.ActionLink("Already have an account? Login!", "Login", "User")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>*@

    <!-- Begin Register Of Toi -->
    <div class="container-fluid total">
        <h2 class="text-center">Boarding House </h2>
        <!-- Menu choose one of all -->
        <ul class="nav nav-pills navTitle text-center">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#renter">Renter Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#hoster">Hoster Register</a>
            </li>

        </ul>


        <div class="tab-content">
            <!-- Register for Renter -->
            <div class="container tab-pane active " id="renter" name="renter">
                <p class="text-title">Welcome to form register !</p>

                <!-- Begin Form-->
                @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "was-validated" }))
                {
                    @Html.AntiForgeryToken()
                    <!--Name-->
                    <div class="form-group col">
                        @Html.TextBoxFor(m => m.Name, "", new { @class = "form-control", placeholder = "Your name*", required="required" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "badge badge-danger" })
                    </div>
                    <!--UserID -->
                    <div class="form-group col">
                        @Html.TextBoxFor(m => m.UserID, "", new { @class = "form-control", placeholder = "Enter UserID*", required = "required" })
                        @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "badge badge-danger" })
                    </div>
                    <!--Email -->
                    <div class="form-group col">
                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", placeholder = "Enter email*", required = "required" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge badge-danger" })
                    </div>
                    <!-- Password -->
                    <div class="form-group col">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter password*", required = "required" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
                    </div>
                    <!-- Confirm password-->
                    <div class="form-group col">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirmed password", required = "required" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "badge badge-danger" })

                    </div>
                    <!-- Remember check-->
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="remember"> Remember me
                        </label>
                    </div>
                    <!-- submit -->
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Register" />
                    </div>
                }
                <!-- End Form-->
            </div>
            <!--Register for Hoster-->
            <div class="container tab-pane fade" id="hoster" name="hoster">
                <p class="text-title">Hello Hoster !</p>
                <!-- Begin Form-->
                @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "was-validated" }))
                {
                    @Html.AntiForgeryToken();
                    <!--Name-->
            <div class="form-group col">
                @Html.TextBoxFor(m => m.Name, "", new { @class = "form-control", placeholder = "Your Name", required = "required" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "badge badge-danger" })
            </div>
                    <!--UserID -->
                    <div class="form-group col">
                        @Html.TextBoxFor(m => m.UserID, "", new { @class = "form-control", placeholder = "Enter UserID*", required = "required" })
                        @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "badge badge-danger" })
                    </div>
                    <!--Email -->
                    <div class="form-group col">
                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", placeholder = "Enter email*", required = "required" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge badge-danger" })
                    </div>
                    <!-- Password -->
                    <div class="form-group col">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter password*", required = "required" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
                    </div>
                    <!-- Confirm password-->
                    <div class="form-group col">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirmed password", required = "required" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "badge badge-danger" })
                    </div>
                    <!-- Business license-->
                    <div class="form-group col">
                        <input class="form-control" type="text" class="form-control" placeholder="Business license*" disabled>
                    </div>
     
                    <!-- Remember check-->
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="remember"> Remember me
                        </label>
                    </div>
                    <!-- Choose country -->
                    <div class="w3-row mb-3 col">
                        <select name="Quoc_gia" class="custom-select" disabled>
                            <option value="VietNamese" selected>VietNamese</option>
                            <option value="United states">United states</option>
                            <option value="SkriLanka">SriLanka</option>
                            <option value="Korea">Korea</option>
                        </select>
                    </div>
                    <!-- Choose gender : male ,female or other -->
                    <div class="w3-row mb-3">
                        <label class="mb-3">Gender :</label>
                        <br>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input " name="gender" id="male" value="Nam" disabled>
                            <label for="male" class="custom-control-label">Male</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline ">
                            <input type="radio" class="custom-control-input " name="gender" id="female" value="Nữ" disabled>
                            <label for="female" class="custom-control-label">FeMale</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input " name="gender" id="other" value="Khác" disabled>
                            <label for="other" class="custom-control-label ">Other</label>
                        </div>
                    </div>
                    <!-- submit -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                }
                <!-- End Form-->
            </div>
        </div>

    </div>
    <!--End of Register of Toi-->
    <!--come back to Login form-->
    <hr>
    <div class="text-center">
        <a class="small " href="forgot-password.html">Forgot Password?</a>
    </div>
    <div class="text-center">
        <a class="small">@Html.ActionLink("Already have an account? Login!", "Login", "User")</a>
    </div>






</body>

</html>

