﻿@model OnlineHouse.App_Data.Room
@{
    ViewBag.Title = "Create Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-5 shadow-lg p-3 mb-5 bg-white rounded" style="margin: auto; background:white; padding: 50px;">

    <a href="javascript:void(0);" style="float:right" onclick="history.go(-1);"><i class="fas fa-minus"></i></a>
    @using (Html.BeginForm("CreateRoom", "Room", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal" style="">
    <h4>Add New Room</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Renter, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-11">
            @Html.EditorFor(model => model.Renter, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Renter, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Bill, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-11">
            @Html.EditorFor(model => model.Bill, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Bill, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Capacity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-11">
            @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Standard, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-11">
            @Html.EditorFor(model => model.Standard, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Standard, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>


    }
</div>

