﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">House @Session["HouseID"]</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

<!-- Content Row -->
<div class="row">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Index","Renter", new {id = @item.RoomID})">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4" id="row_@item.ID">

                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <h4 class="h5 mb-0 font-weight-bold text-gray-600">Room: @item.RoomID</h4>
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Size: @item.Capacity people</div>
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Standard Room: @item.Standard </div>
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Bill-Electric: @item.Bill </div>
                                @*<ul class="list-group">
                                        <li class="list-group">Kích cỡ <span class="badge">@item.Capacity</span></li>
                                        <li class="list-group">Tiêu chuẩn <span class="badge">@item.Standard</span></li>
                                        <li class="list-group">Hóa đơn <span class="badge">@item.Bill</span></li>
                                    </ul>*@

                                @*<a href="/Room/EditRoom/@item.ID"><i class="far fa-edit"></i></a>*@
                                <a href="@Url.Action("EditRoom", "Room", new { @id = item.ID })"><i class="far fa-edit"></i></a>
                            </div>

                            <div class="col-mr-2">

                                <i class="fas fa-home fa-2x text-gray-300"></i>
                            </div>
                            <div class="col-mr-8">
                                @*  @Ajax.ActionLink("xx", "Delete", "Room",   , new AjaxOptions
                                    {
                                        Confirm = "Do You Want to Delete " + @item.Renter,
                                        OnComplete = "$('#row_" + @item.ID + "').remove()",
                                        HttpMethod = "Delete",

                                         })*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }
    @*<div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">

                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">ADD MORE</div>
                        </div>
                        <div class="col-mr-2">
                            <a href="/Room/CreateRoom"><i class="fas fa-plus-circle fa-2x text-gray-300"></i></a>

                        </div>

                    </div>
                </div>
            </div>
        </div>*@

</div>

