﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Detail Room</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!--Slide Show-->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <!--Body-->
                @{ int i = 0; }
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="carousel-inner col-md-8 col-5 shadow-lg p-3 mb-5 bg-white rounded">
                        @foreach (var item in Model)
                        {
                            if (i == 0)
                            {
                                <!--Begin form 1-->
                                <div class="carousel-item active" style="margin-top: 25px">
                                    <div class="text-center">
                                        <img class="img-profile w-75 img-thumbnail img-rounded" src="@item.ImgProfileTest" />

                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Full Name</th>
                                                    <td class="w-100">@item.Fname</td>
                                                    <th scope="row">Date of birth</th>
                                                    <td>@item.DayOfBirth</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Gender</th>
                                                    <td>@item.Sex</td>
                                                    <th scope="row">Phone</th>
                                                    <td>@item.Phone</td>

                                                </tr>
                                                <tr>
                                                <tr>
                                                    <th scope="row">Address</th>
                                                    <td>@item.Address</td>
                                                    <th scope="row">Nation</th>
                                                    <td>@item.Nation</td>

                                                </tr>
                                                <tr>
                                                    <th scope="row">Carrer</th>
                                                    <td>@item.Carrer</td>
                                                    <th scope="row">Religion</th>
                                                    <td>@item.Religion</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="flex-container">
                                        <a href="@Url.Action("Delete", "Renter", new{@id = item.ID})" onclick="return confirm('Do you want to remove Reter : @item.Fname')"><i class="fas fa-user-minus fa-lg"></i></a>
                                        <a href="/Renter/EditRenter/@item.ID"><i class="fas fa-edit fa-lg"></i></a>
                                        <a href="/Renter/CreateRenter"><i class="fas fa-plus-square fa-lg"></i></a>
                                    </div>
                                </div>

                                <!--End form 1-->
                                i++;
                            }
                            else
                            {
                                <!--Begin form 2-->
                                <div class="carousel-item" style="margin-top: 25px">
                                    <div class="text-center">
                                        <img class="img-profile w-75 img-thumbnail img-rounded" src="@item.ImgProfileTest" />

                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Full Name</th>
                                                    <td class="w-100">@item.Fname</td>
                                                    <th scope="row">Date of birth</th>
                                                    <td>@item.DayOfBirth</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Giới tính</th>
                                                    <td>@item.Sex</td>
                                                    <th scope="row">Phone</th>
                                                    <td>@item.Phone</td>

                                                </tr>
                                                <tr>
                                                <tr>
                                                    <th scope="row">Address</th>
                                                    <td>@item.Address</td>
                                                    <th scope="row">Nation</th>
                                                    <td>@item.Nation</td>

                                                </tr>
                                                <tr>
                                                    <th scope="row">Carrer</th>
                                                    <td>@item.Carrer</td>
                                                    <th scope="row">Religion</th>
                                                    <td>@item.Religion</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="flex-container">
                                        <a href="@Url.Action("Delete", "Renter", new{@id = item.ID})" onclick="return confirm('Do you want to remove Reter : @item.Fname')"><i class="fas fa-user-minus fa-lg"></i></a>
                                        <a href="/Renter/EditRenter/@item.ID"><i class="fas fa-edit fa-lg"></i></a>
                                        <a href="/Renter/CreateRenter"><i class="fas fa-plus-square fa-lg"></i></a>
                                    </div>
                                </div>
                                <!--End form 2-->
                            }

                        }
                        <div>
                        </div>
                    </div>
                </div>
                <!--End Body-->

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control fas fa-backward fa-lg" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control fas fa-forward fa-lg" aria-hidden="true"></span>

                    <span class="sr-only">Next</span>
                </a>
                <div class="text-center">
                    <h5>NUMBER ROOM @Session["RoomID"]</h5>
                    <p>Contact with my team to refer solutions about boardhouse</p>
                </div>
            </div>
            <!--End Slide Show-->
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-6 mb-4 h-75" id="row_">

    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">

                ADD

            </div>
        </div>
    </div>

</div>

@*<div class="col-mr-8">*@
@*  @Ajax.ActionLink("xx", "Delete", "Room",   , new AjaxOptions
    {
        Confirm = "Do You Want to Delete " + @item.Renter,
        OnComplete = "$('#row_" + @item.ID + "').remove()",
        HttpMethod = "Delete",

         })*@

@*</div>*@



