﻿
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <iframe src="https://www.mapillary.com/app/?lat=16.059836115315555&lng=108.21203566510229&z=17&focus=map&pKey=hKUGp_ai_VHJ1nUSjMbYdg"
     allowfullscreen="true" frameborder="0" height="650px" width="80%"></iframe>
</div>

