﻿

@foreach (var item in Model)
{
    <a class="blockAlert dropdown-item d-flex align-items-center" href="/" onclick="return false"  id="@item.UserID">
        <div class="mr-3">
            <div class="icon-circle bg-primary">
                <i class="fas fa-question-circle fa-2x text-white"></i>
            </div>
        </div>
        <div>
            <div class="small text-gray-500">The comfirm request</div>
            <span class="font-weight-bold">@item.NameRenter would like to rent this @item.RoomID room.</span>

        </div>
    </a>
}

