﻿
@{
    ViewBag.Title = "FilterRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3>The Vacant Rooms of  @Session["HouseName"]</h3>
<div class="row">
    @foreach (var item in Model)
    {
        <a href="/" onclick="return false" id="@item.RoomID" class="blockBox">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-2 col-md-6 mb-4" id="row_@item.ID">

                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tên Phòng @item.Renter </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@item.Capacity/3</div>
                                <a></a>
                            </div>

                            <div class="col-mr-2">

                                <i class="fas fa-home fa-2x text-gray-300"></i>
                            </div>
                            <div class="col-mr-8">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </a>

    }

</div>
<script>
    $(".blockBox").click(function () {
        confirm('Do You Really Rent This Room ???');
        var id = $(this).attr("id");
        alert(id);
        $.ajax({
            type: "POST",
            url: "@Url.Action("chooseRoom")",
            data: { id: id },
            success: function () {
                alert("The require was sent. Please wait for the owner's response...");

            },
            error: function () {
                alert("Error. Can't sent request !!!");
            }
        })


    });
</script>