﻿
@{
    ViewBag.Title = "FilterHouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>The Apartments Have a Vacant Rooms...</h3>
<div id="showRom">
    <div id="reloadView" class="row">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("FilterRoom","RenterHome", new {id = @item.HouseID})">

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4" id="row_@item.ID">

                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@item.HouseName</div>
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">@item.Address</div>
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">@item.NumberOfRoom</div>
                                    <a></a>
                                </div>

                                <div class="col-mr-2">

                                    <i class="fas fa-home fa-2x text-gray-300"></i>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </a>
        }

    </div>
</div>

