﻿
@{
    ViewBag.Title = "My Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Room</h2>

<div style="text-align:center;margin-top:25%">
    <a href="/RenterHome/FilterHouse" class="btn btn-primary" id="filter"  style="font-size: 30px;">You have not the room yet. Let us help to find for you...!!!</a>

</div>



