﻿
/*style for register view*/
body.imageLogin {
    background-image: url('https://www.pixtastock.com/blog/wp-content/uploads/2015/07/17');
    background-size: cover;
}

div.total {
    width: 40%;
    background-color: rgba(50, 117, 146, 0.8);
    border-radius: 5px;
    box-shadow: 15px 10px 5px 0px #0000001f;
    padding: 20px 0px 20px 0px;
    margin-top: 50px;
    color: white;
}

.navTitle {
    background-color: #ffffffc7;
}

.tab-content {
}

.nav-item {
    width: 50%;
}

.text-title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.text-center {
    margin-bottom: 40px;
}
