﻿
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="CacHinhThucThanhToan">
        <div class="goiY">
            Quý khách vui lòng chọn một trong các hình thức thanh toán dưới đây để thanh toán cho đơn hàng của mình
        </div>
        <div>
            <input id="rbChuyenKhoan" type="radio" name="rbHinhThucThanhToan" /><label for="rbChuyenKhoan">Thanh toán chuyển khoản</label>
            <div class="paymentInfo">
                Tên tài khoản: Công ty cổ phần dịch vụ Tất Thành<br />
                Số tài khoản: 1305201005711<br />
                Ngân hàng nông nghiệp và phát triển nông thôn Việt Nam - Chi nhánh Tràng An
            </div>
        </div><br />
        <div>
            <input id="rbOnepay" type="radio" name="rbHinhThucThanhToan" checked="checked" /><label for="rbOnepay">Thanh toán trực tuyến qua thẻ ATM</label>
            <div class="paymentInfo">
                <script type="text/javascript" src="http://202.9.84.88/documents/payment/logoscript.jsp?logos=at&lang=vi"></script>
                <div class="cb"><!----></div>
            </div>
        </div><br />
        <div>
            <input id="rbOnepayQuocTe" type="radio" name="rbHinhThucThanhToan" /><label for="rbOnepayQuocTe">Thanh toán trực tuyến qua thẻ Visa, Master, American Express,...</label>
            <div class="paymentInfo">
                <script type="text/javascript" src="http://202.9.84.88/documents/payment/logoscript.jsp?logos=v,m,a,j,u&lang=en"></script>
                <div class="cb"><!----></div>
            </div>
        </div><br />
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-lg-6">
            <div class="comeback">
                <a href="/">
                    <img src="../pic/dangnhap/icon-tieptuc.png" />  Tiếp tục mua hàng
                </a>
            </div>
        </div>
        <div class="col-lg-6 text-right">
            <div class="buttons btn-modal-cart">
                <a href="javacript://" onclick="GuiDonHang()" class="button-default">Đặt hàng</a>
            </div>
        </div>
    </div>

<script>
     function GuiDonHang() {
        //Kiểm tra xem khách hàng đã nhập đủ họ tên và số điện thoại chưa
      

            var phuongthucthanhtoan = "ChuyenKhoan";
            if ($("#rbChuyenKhoan").is(":checked")) phuongthucthanhtoan = "ChuyenKhoan";
            if ($("#rbOnepay").is(":checked")) phuongthucthanhtoan = "Onepay";
            if ($("#rbOnepayQuocTe").is(":checked")) phuongthucthanhtoan = "OnepayQuocTe";

            $.post("/Cotrollers/HomeController.cs",
                   {
                       
                   },
                   function (data, status) {
                       //alert("Data :" + data + "\n Status :" + status);

                       //Nếu không có lỗi (tức là xóa thành công) --> thông báo đặt hàng thành công --> đẩy về trang chủ
                       if (phuongthucthanhtoan === "ChuyenKhoan") {
                           if (data === "") {
                               alert("Bạn đã gửi đơn hàng thành công");
                               location.href = "/";
                           }
                       } else {//Trường hợp thanh toán online --> đẩy tới trang thanh toán của đơn vị tích hợp
                           location.href = data;
                       }
                   });
        }
        
    
</script>