﻿@{
    ViewBag.Title = "Boarding House";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center;margin-top:25%">

    <a class="btn btn-primary" href="/User/Login" style="font-size: 30px;">Login to Continue...</a>
</div>

